<ion-header>
  <ion-toolbar>
    <ion-title>Ruleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>🎡 Task Roulette</h1>
    <p>Gira la ruleta y deja que el destino elija</p>

    <div class="ruleta-wrapper">
      <div
        class="ruleta"
        [style.transform]="'rotate(-' + angulo + 'deg)'" 
        [style.background]="ruletaGradient"
        [class.girando]="girando">

        <div
          class="segmento"
          *ngFor="let tarea of tareas; let i = index"
          [style.transform]="'rotate(' + (i * (360 / tareas.length) + (360 / tareas.length / 2)) + 'deg)'">
          <span>{{ tarea }}</span>
        </div>

      </div>
      <div class="puntero">▼</div>
    </div>

    <ion-button
      expand="block"
      (click)="girarRuleta()"
      [disabled]="girando || tareas.length === 0">
      🎡 Girar ruleta
    </ion-button>

    <div class="resultado" *ngIf="tareaSeleccionada">
      <h2>✨ Tarea elegida:</h2>
      <div class="box">
        {{ tareaSeleccionada }}
      </div>
    </div>
  </div>
</ion-content>